.current-track-container {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background-color: #202020;
    border-radius: 8px;

    .track-image {
        width: 64px;
        height: 64px;
        border-radius: 8px;
    }

    .track-details {
        display: flex;
        flex-direction: column;
    }
}

.track-details {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}
  .track {
    display: flex;
    align-items: center;
    gap: 1rem;
    &_info {
      display: flex;
      flex-direction: column;
      gap: 0.3rem;
      h4 {
        color: #fff;
      }
      h6 {
        color: #b3b3b3;
      }
    }
  }




/* Searchbar Styles */
.search-input {
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 20px;
    border: 1px solid #ccc;
  }
  
  .searchbar-container {
    width: 100%;
    margin-bottom: 20px;
}
  
.searchbar-input {
    width: calc(100% - 90px);
    padding: 10px;
    border: 2px solid #0d6efd;
    /* Bootstrap primary color */
    border-radius: 20px 0 0 20px;
    outline: none;
  }
  
.searchbar-button {
    width: 90px;
    border: 2px solid #0d6efd;
    background-color: #0d6efd;
    color: white;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
  }
  
  .searchbar-button:hover {
    background-color: #0b5ed7;
    /* A shade darker than primary */
  }
  
