/* General style for the side menu */
.side-menu {
  display: flex;
  flex-direction: row;
  width: 230px; /* Adjust width as necessary */
  background-color: #282828; /* Example background color */
  color: #fff;
}

/* Top section of the side menu, usually for a toggle button or header */
.top-section {
  padding: 16px;
  border-bottom: 1px solid #404040; /* Lighter border for a subtle separation */
}

.toggle-menu-btn {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
}

/* Style for each menu button */
.btn_body {
  display: flex;
  align-items: center;
  gap: 10px; /* Space between icon and label */
  padding: 10px 16px;
  font-family: 'Proxima Nova', sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}

.sidebar_link {
  display: block;
  color: rgb(179, 179, 179); /* Original p color from browse-headers */
  text-decoration: none;
}

.sidebar_link:hover, .sidebar_link.active {
  color: #fff;
}

/* Active state pseudo-element for visual indicator */
.sidebar_link.active::after {
  content: "";
  display: block;
  height: 2px;
  background-color: #1db954;
  margin-top: 5px; /* Space above the underline */
}

/* Search bar within the side menu */
.search-controller {
  padding: 10px;
  display: flex;
  align-items: center;
}

.search-controller input {
  flex-grow: 1;
  margin-left: 10px;
  padding: 8px;
  background: #333;
  border: none;
  color: #fff;
}

/* Divider style */
.divider {
  height: 1px;
  background-color: #404040;
  margin: 8px 0;
}

/* Footer section for additional information or controls */
.side-menu-footer {
  margin-top: auto; /* Pushes the footer to the bottom */
  padding: 16px;
}

.user-info {
  font-family: 'Proxima Thin', Georgia, sans-serif;
  font-size: 13px;
  color: #aaa;
}

/* Styling for other textual elements and buttons within the sidebar */
.btn_body .lighter-text, .btn_body .playlist-text {
  color: #aaa;
}

.btn_body .header-title {
  font-size: 18px; /* Adjusted for sidebar appropriateness */
}

.current-artist-header-container,
.current-artist-info,
.current-artist-image {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;}

.artist-button {
  background: #1db954;
  border: none;
  padding: 8px 16px;
  color: #fff;
  cursor: pointer;
}