.dashboard-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.dashboard {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.vizualiser {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.player {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
